---
layout: menu-page
title: Archive
permalink: /archive/
---
<div class="archive">
	<div class="post-list">
	{% for post in site.posts limit: 3 %}
		<div class="post">
			<a class="post-list-title" href="{{ post.url }}">{{ post.title }}</a>
			{% include post_meta.html type="post-card-meta" %}
			<div class="post-excerpt">
				{{ post.content | markdownify | strip_html | strip_newlines | truncatewords: 100 }}<a class="read-more" href="{{ post.url }}"> read more</a>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
<div class="infinite-spinner"></div>