---
layout: menu-page
title: Archive
permalink: archive:output_ext
infinite: yes
---
{% include calculate_relative_base.html %}

<div class="archive tag-master">
	<form class="search-form inline">
		<div id="search-container">
			<input type="text" id="search-input" class="search" placeholder="Search">
		</div>
	</form>
	<ul id="results-container" class="results-search"></ul>
	<div class="post-list">
	{% for post in site.posts limit: 3 %}
		<div class="post">
			{% include remove_double_slash.html %}
			<a class="post-list-title" href="{{ post_url }}">{{ post.title }}</a>
			{% include post_meta.html type="post-card-meta" %}
			<div class="post-excerpt">
				{{ post.content | markdownify | strip_newlines | truncatewords: 100 }}<a class="read-more" href="{{ post_url }}"> read more</a>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% include spinner.html %}