---
layout: menu-page
title: Tag
permalink: tag:output_ext
infinite: yes
---
{% include calculate_relative_base.html %}

{% include get-site-tags.html %}
{% for item in (0..site.tags.size) %}{% unless forloop.last %}
	{% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
	<div id="{{ this_word }}" class="hidden tag-master">
		<h1>{{ this_word }}</h1>
		<div class="archive">
			<div class="post-list">
		    {% for post in site.tags[this_word] limit:3 %}
			{% include remove_double_slash.html %}
				<div class="post">
					<a class="post-list-title" href="{{ post_url }}">{{ post.title }}</a>
					{% include post_meta.html type="post-card-meta" %}
					<div class="post-excerpt">
						{{ post.content | markdownify | truncatewords: 100 }}<a class="read-more" href="{{ post_url }}"> read more</a>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
{% endunless %}{% endfor %}
{% include spinner.html %}
{% include tag_cloud.html %}