
.DS_Store
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/the-mvm.github.io.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.vscode/settings.json
/.vscode/
/.idea/
.liquidrc