---
layout: home-page
---
<ol class="post-card-box clearfix">
  {% for post in paginator.posts %}
  <li>
    <div class="post-card">
      <a href="{{ site.url }}{{ page.url }}" class="post-card-image" style="background-image: url({{'/assets/img/' | prepend: site.baseurl | append : post.img}})">
      </a>
      <div class="post-card-body">
        <p class="post-card-title-and-meta">
          <a href="{{ site.url }}{{ post.url }}" class="post-card-link">
          {{ post.title }}
          </a>
          {% include post_meta.html type="post-card-meta" date="none" %}
        </p>
      </div>
    </div>
  </li>
  {% endfor %}
</ol>
