---
layout: home-page
permalink: /ipfs-404.html
title: null
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<a href="{{ relativebase }}">
    <picture>
      <source srcset="{{ relativebase }}assets/img/404_small.jpg" media="(max-width: 768px)">
      <source srcset="{{ relativebase }}assets/img/404.jpg">
      <img src="{{ relativebase }}assets/img/404.jpg" alt="Page not found" class="pnf-image" style="width:100vw;max-width:unset;margin-left:calc((100% - 100vw)/2);margin-top:-16.5px;">
    </picture>
</a>
{% include recent-post.html %}
<form class="search-form inline">
    <div id="search-container">
        <input type="text" id="search-input" class="search" placeholder="Search">
    </div>
</form>
<ul id="results-container" class="results-search"></ul>