{% if site.discus_identifier %}
  <section class="comment-area">
    <div class="comment-wrapper">
        {% if site.comments_curtain %}
            <div class="row" id="comment-curtain">
                <div class="col-lg-8 col-sm-10 mr-auto ml-auto">
                    <h2 class="page-subtitle">Comments</h2>
                    <div class="comments-trigger" onClick="toggle_comments()">
                        <i class="fa fa-comments"></i>&nbsp;&nbsp;Write a comment ...
                    </div>
                </div>
            </div>
        {% endif %}
      <div id="disqus_thread"></div>
          <script>
            (function() {
                var d = document, s = d.createElement('script');
                s.src = '//{{ site.discus_identifier }}.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
          </script>
      <noscript>Please enable JavaScript to view the comments.</noscript>
    </div>
  </section> <!-- End Comment Area -->
{% endif %}
