{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relativebase %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<link rel="icon" href="{{ relativebase }}/assets/img/favicon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ relativebase }}/assets/img/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="72x72" href="{{ relativebase }}/assets/img/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="114x114" href="{{ relativebase }}/assets/img/favicon/favicon.ico">