{% include  calculate_relative_base.html %}

<footer class="main-footer">
    <div class="footer-wrapper">
        <div class="logo-symbol">
            <a class="logo-link" href="{{ relativebase }}">
                <svg class="logo-symbol">
                    <use xlink:href='{{ relativebase }}{{site.logo-icon}}#MVM-symbol'></use>
                </svg>
            </a>
        </div>
        <div class="copyright">
          <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
        </div>
        <div class="footer-nav">
            <div>
                <a href="{{ relativebase }}archive.html">
                    Posts
                </a>
            </div>
            <div>
                <a href="{{ relativebase }}tags.html">
                    Tags
                </a>
            </div>
            <div>
                <a href="{{ relativebase }}about.html">
                    About
                </a>
            </div>
        </div>
    </div>
</footer> <!-- End Footer -->
