{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relativebase %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
{% unless relativebase %}
	{% assign relativebase = './' %}
{% endunless %}

<head>
	<meta name="relativebase, lvl, page.url" content="{{ relativebase }}, {{ lvl }}, {{ page.url }}">
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
	<meta name="description" content="{{ page.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{% include SEO.html %}
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#311e3e">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#311e3e">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#311e3e">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Inter:200,300,600|Roboto:100,300,500" rel="stylesheet">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="{{ relativebase }}/assets/fonts/font-awesome/css/font-awesome.min.css">
	<!-- Styles -->
	<link rel="stylesheet" href="{{ relativebase }}/assets/css/main.css">
	{% include favicon.html %}
	{% if page.layout == 'post' %}
	<link rel="stylesheet" href="{{ relativebase }}/assets/css/highlighter/{{ site.highlight_theme }}.css">
	<!-- Mailchimp linking -->
	<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/8ece198b3eb260e6838461a60/d20d9fb9aad962399025da52e.js");</script>
	{% endif %}
	{% include analytics.html %}
	{% if page.mathjax %}
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
		extensions: ["tex2jax.js"],
		tex2jax: {
		  inlineMath: [ ['$','$'], ["\\(","\\)"] ],
		  displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
		  processEscapes: true
		},
		"CommonHTML": { linebreaks: { automatic: true } }
	  });
	</script>
	<script src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
	{% endif %}
	{% if page.toc %}
		<script src="https://cdn.jsdelivr.net/gh/cferdinandi/gumshoe@5.1.1/dist/gumshoe.polyfills.min.js"></script>
	{% endif %}
</head>
