{% include calculate_relative_base.html %}
{% include escape-404.html %}

<!-- JS -->

{% capture logo_url %}{{ relativebase }}{{ site.logo  }}{% endcapture %}
{% assign logo_url = logo_url | replace: "//", "/" %}
{% capture logo_url_dark %}{{ relativebase }}{{ site.logo-dark  }}{% endcapture %}
{% assign logo_url_dark = logo_url_dark | replace: "//", "/" %}
{% assign name = 'night_mode' %}
{% assign night_mode = site.night_mode %}

<script>
(function() {
    var sw = document.getElementById('theme-switch');
    var html = document.getElementsByTagName('html')[0];
    var logo = document.getElementById('logo');
    var nightModeOption = ('{{ night_mode }}' || 'auto').toLowerCase();
    var storage = nightModeOption === 'manual'
        ? localStorage
        : sessionStorage;
    var themeData = loadThemeData();

    function saveThemeData(data) {
    storage.setItem('theme', JSON.stringify(data));
    }

    function loadThemeData() {
    var data = storage.getItem('theme');
    try {
        data = JSON.parse(data ? data : '');
    } catch(e) {
        data = { nightShift: undefined, autoToggleAt: 0 };
        saveThemeData(data);
    }
    return data;
    }

    function handleThemeToggle(nightShift) {
    themeData.nightShift = nightShift;
    saveThemeData(themeData);
    html.dataset.theme = nightShift ? 'dark' : 'light';
    if (nightShift) {
        logo.setAttribute("src", "{{ logo_url_dark }}");
    } else {
        logo.setAttribute("src", "{{ logo_url }}");
    }
    setTimeout(function() {
        sw.checked = nightShift ? true : false;
    }, 50);
    }

    function autoThemeToggle() {
    // Next time point of theme toggle
    var now = new Date();
    var toggleAt = new Date();
    var hours = now.getHours();
    var nightShift = hours >= 19 || hours <=7;

    if (nightShift) {
        if (hours > 7) {
        toggleAt.setDate(toggleAt.getDate() + 1);
        }
        toggleAt.setHours(7);
    } else {
        toggleAt.setHours(19);
    }

    toggleAt.setMinutes(0);
    toggleAt.setSeconds(0);
    toggleAt.setMilliseconds(0)

    var delay = toggleAt.getTime() - now.getTime();

    // auto toggle theme mode
    setTimeout(function() {
        handleThemeToggle(!nightShift);
    }, delay);

    return {
        nightShift: nightShift,
        toggleAt: toggleAt.getTime()
    };
    }

    // Listen the theme toggle event
    sw.addEventListener('change', function(event) {
    handleThemeToggle(event.target.checked);
    });

    if (nightModeOption == 'auto') {
    var data = autoThemeToggle();

    // Toggle theme by local setting
    if (data.toggleAt > themeData.autoToggleAt) {
        themeData.autoToggleAt = data.toggleAt;
        handleThemeToggle(data.nightShift);
    } else {
        handleThemeToggle(themeData.nightShift);
    }
    } else if (nightModeOption == 'manual') {
    handleThemeToggle(themeData.nightShift);
    } else {
    var nightShift = themeData.nightShift;
    if (nightShift === undefined) {
        nightShift = nightModeOption === 'on';
    }
    handleThemeToggle(nightShift);
    }
})();
</script>

<script src="{{ relativebase }}assets/js/jekyll-search.js"></script>
<script src="{{ relativebase }}assets/js/jquery-3.6.0.min.js"></script>

{% if page.layout == "post" %}
  <script>
    function toggle_comments(){
      var commentCurtain = document.getElementById('comment-curtain')
      if (commentCurtain) {
        commentCurtain.classList.toggle('hide')
      }
      var disqusThread = document.getElementById('comment-layout')
      if (disqusThread) {
        disqusThread.classList.toggle('show')
      }
    }

    function copyToClipboard() {
      navigator.clipboard.writeText('{{ site.url }}{{ page.url }}').then(function() {
      alerts = document.getElementsByClassName('alert')
      for (i=0; i < alerts.length; i++){
        alerts[i].innerHTML='\u00ABlink copied\u00BB';
        setTimeout((function(i){ return function(){alerts[i].innerHTML='';}})(i), 1600 );
      };
      }, function() {
        prompt("Unable to copy, please use this link:", "{{ site.url }}{{ page.url }}");
      });
    }

    $(function () {
      if (document.getElementById('comment-curtain') == null){
        var disqusThread = document.getElementById('comment-layout')
        if (disqusThread) {
          disqusThread.classList.toggle('show')
        }
      }

      var tweetTags = document.getElementsByTagName("tweet");

      if (tweetTags != null){
        for (i=0; i<tweetTags.length; i++){
          tweetA = document.createElement("a")
          tweetA.href = 'https://twitter.com/share?text='
                       + encodeURIComponent(tweetTags[i].textContent)
                       + '&via={{ site.twitter | remove: "@" }}&url='
                       + window.location.href;
          tweetA.target = "_blank";
          tweetA.className = 'twitter';
          tweetSpanText = document.createElement('span');
          tweetSpanText.className = 'tweetText';
          tweetSpanText.appendChild(document.createTextNode(tweetTags[i].textContent));
          tweetSpanIcon = document.createElement('span');
          tweetSpanIcon.className = 'tweetIcon';
          tweetSpanIcon.appendChild(document.createTextNode("click to tweet"));
          tweetI = document.createElement("i");
          tweetI.className = 'fa fa-twitter';
          tweetSpanIcon.appendChild(tweetI);
          tweetA.appendChild(tweetSpanText);
          tweetA.appendChild(tweetSpanIcon);
          tweetTags[i].textContent = "";
          tweetTags[i].appendChild(tweetA);
        }
      }

    });

  </script>
  <!-- Mailchimp linking -->
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/8ece198b3eb260e6838461a60/d20d9fb9aad962399025da52e.js");</script>
{% endif %}

{% if page.toc %}
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/gumshoe@5.1.1/dist/gumshoe.polyfills.min.js"></script>
  <script>
    var spy = new Gumshoe("#toc-content a", {
      navClass:"active",
      contentClass:"underline",
      nested:0,
      nestedClass:"active",
      offset:20,
      reflow:1,
      events:1
    });

    var coll = document.getElementsByClassName("toc-item-1");
    var i;
    var chevron_up = "<svg aria-hidden=\"true\" focusable=\"false\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 512\"><path fill=\"currentColor\" d=\"M136.5 185.1l116 117.8c4.7 4.7 4.7 12.3 0 17l-7.1 7.1c-4.7 4.7-12.3 4.7-17 0L128 224.7 27.6 326.9c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17l116-117.8c4.7-4.6 12.3-4.6 17 .1z\"></path></svg>"
    var chevron_down = "<svg aria-hidden=\"true\" focusable=\"false\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 512\"><path fill=\"currentColor\" d=\"M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z\"></path></svg>"
    for (i = 0; i < coll.length; i++) {
      if (coll[i].childElementCount > 1) {
        sign = document.createElement('div');
        sign.className = "toc-sign";
        sign.innerHTML = chevron_down;
        coll[i].insertBefore(sign, coll[i].childNodes[0].nextSibling);
        coll[i].addEventListener("click", function() {
          var content = this.lastElementChild;
          if (content.style.maxHeight){
            content.style.maxHeight = null;
            this.firstElementChild.nextSibling.innerHTML = chevron_down;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
            this.firstElementChild.nextSibling.innerHTML = chevron_up;
          }
        });
      }
    }
  </script>
{% endif %}

{% if page.mathjax %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "CommonHTML": { linebreaks: { automatic: true } }
    });
  </script>
  <script src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endif %}

<script src="{{ relativebase }}assets/js/main.js"></script>
<script>
  SimpleJekyllSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('results-container'),
      json: '{{ relativebase }}search.json',
      searchResultTemplate: '<li><a href="{url}" title="{description}">{title}</a><p>{description}</p></li>',
      noResultsText: 'No results found',
      fuzzy: false,
      exclude: ['Welcome']
    });
</script>

{% if page.infinite %}
  <script src="{{ relativebase }}assets/js/infinite-jekyll.js"></script>
{% endif %}

{% if page.url contains "ipfs-404" %}
  <script class="deep-dir">
    function fixPath() {
      var own_url = window.location.href;
      var countOfSlashes = (own_url.match(/\//g) || []).length;
      var minimumSlashes = 3;
      var i = 0;
      var replaceStr = "";
      if (own_url.includes("/ipfs/")) {
        minimumSlashes = 5;
      }
      if (countOfSlashes > minimumSlashes) {
        var relativeBase = "";
        for (i = minimumSlashes; i < countOfSlashes; i++) {
          relativeBase = relativeBase + "../";
        }
        var elements = document.getElementsByTagName("link");
        for (i = 0; i < elements.length; i++) {
          replaceStr = elements[i].getAttribute("href");
          if (replaceStr != null && replaceStr.includes("./")) {
            replaceStr = replaceStr.replace(/\.\//g, relativeBase);
            elements[i].setAttribute("href", replaceStr);
          }
        }
        elements = document.getElementsByTagName("a");
        for (i = 0; i < elements.length; i++) {
          replaceStr = elements[i].getAttribute("href");
          if (replaceStr != null && replaceStr.includes("./")) {
            replaceStr = replaceStr.replace(/\.\//g, relativeBase);
            elements[i].setAttribute("href", replaceStr);
          }
          if (elements[i].style.background!=null) {
            elements[i].style.background = elements[i].style.background.replace("./", relativeBase);
          }
        }
        elements = document.getElementsByTagName("img");
        for (i = 0; i < elements.length; i++) {
          replaceStr = elements[i].getAttribute("src");
          if (replaceStr != null && replaceStr.includes("./")) {
            replaceStr = replaceStr.replace(/\.\//g, relativeBase);
            elements[i].setAttribute("src", replaceStr);
          }
        }
        elements = document.getElementsByTagName("source");
        for (i = 0; i < elements.length; i++) {
          replaceStr = elements[i].getAttribute("srcset");
          if (replaceStr != null && replaceStr.includes("./")) {
            replaceStr = replaceStr.replace(/\.\//g, relativeBase);
            elements[i].setAttribute("srcset", replaceStr);
          }
        }
        elements = document.getElementsByTagName("script");
        var newScript = new Array;
        var newScriptLenght = 0;
        for (i = 0; i < elements.length; i++) {
          if (elements[i].className != "deep-dir") {
            replaceStr = elements[i].getAttribute("src");
            if (replaceStr != null && replaceStr.includes("./")) {
              replaceStr = replaceStr.replace(/\.\//g, relativeBase);
              newScriptLenght = newScript.push(document.createElement("script"));
              newScript[newScriptLenght - 1].setAttribute("src", replaceStr);
            } else {
              if (elements[i].innerHTML != null && elements[i].innerHTML.includes("./")) {
                newScriptLenght = newScript.push(document.createElement("script"));
                newScript[newScriptLenght - 1].innerHTML = elements[i].innerHTML.replace("./", relativeBase);
              }
            }
          }
        }
        for (i = 0; i < newScript.length; i++) {
          if (newScript[i].innerHTML == "") {
            document.body.appendChild(newScript[i]);
          } else {
            setTimeout(function(newScript) {
              document.body.appendChild(newScript);
            }, 1000, newScript[i]);
          }
        }
      }
    }
    fixPath();
  </script>
{% endif %}