{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relativebase %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
{% unless relativebase %}
	{% assign relativebase = './' %}
{% endunless %}

<div class="pagination clearfix">
  {% if paginator.previous_page %}
    <a href="{{ relativebase }}{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ relativebase }}{{ paginator.next_page_path }}" class="next">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
  {% endif %}
</div>
