{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relativebase %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
{% if relativebase == '' %}
	{% assign relativebase = './' %}
{% endif %}

<div class="recent-box">
  <h2 class="page-subtitle">Recent posts</h2>
  <div class="recent-list">
    {% for post in site.posts offset:0 limit:4 %}
      {% if post.title %}
        <div class="recent-item">
          <a href="{{ relativebase }}{{ post.url }}" class="recent-item-img" style="background-image: url('{{ relativebase }}assets/img/{{ post.img }}')">
            <div class="recent-item-title">
              <span>{{ post.title }}</span>
              {% include post_meta.html type="recent-item-meta" date="none" %}
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div> <!-- End Recent-Box -->
