{% include calculate_relative_base.html %}
{% include escape-404.html %}
<div class="tag-cloud">
    {% if include.context == "post" %}
        <ul class="tags {{ include.class }}">
            {% for tag in page.tags %}
                <li><a href="{{ relativebase }}tag.html?tag={{ tag | url_encode }}" class="tag {{ include.class }}">{{ tag }}</a></li>
            {% endfor %}
    {% else %}
        <ul class="tags">
            {% for item in (0..site.tags.size) %}{% unless forloop.last %}
                {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
                <li><a href="{{ relativebase }}tag.html?tag={{ this_word | url_encode }}" class="tag">{{ this_word }} <span>({{ site.tags[this_word].size }})</span></a></li>
            {% endunless %}{% endfor %}
    {% endif %}
        </ul>
</div>