/* = = = = = = = = = = CURRENT  = = = = = = = = = = = = */
:root {
--red:      #DB504A;
--purple: #4e3e51;
--blue:    #326273;
--text:     #161216;
--grey1:  #5f5e58;
--grey2:  #bdbbb3;
--grey3:  #dcdbd6;
--grey4:  #e8e6e3;
--grey5:  #efedeb;
}
https://coolors.co/326273-4e3e51-db504a-161216-5f5e58-bdbbb3-dcdbd6-e8e6e3-efedeb
/* = = = = = = = = = =  backups  = = = = = = = = = = = = */
:root {
--red: #87314e;
--purple: #4e3e51;
--blue: #326273;
--text: #212B30;
--grey1: #546c78;
--grey2: #879dab;
--grey3: #c2d0d6;
--grey4: #D5DEE2;
--grey5: #EFF2F3;
}

Palette generator:
https://coolors.co/87314e-4e3e51-326273-212b30-546c78-879dab-c2d0d6-d5dee2-eff2f3