---
layout: default
---
{% include calculate_relative_base.html %}
{% capture post_url %}{{ relativebase }}{{ page.url }}{% endcapture %}
{% assign post_url = post_url | replace: "//", "/" %}
<section class="hidden">
  <div class="post">
      <a  class="post-list-title" href="{{ post_url }}">{{ page.title }}</a>
      {% include post_meta.html type="post-card-meta" %}
        <div class="post-excerpt">
            {{ page.content | markdownify | strip_newlines | truncatewords: 100 }}<a class="read-more" href="{{ post_url }}"> read more</a>
        </div>
  </div>
</section>
<div class="flex-container transparent">
  {% include header.html %}
  <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
    {% include schema-meta.html %}
    <div class="page-image">
      <div class="cover-image" style="background: url('{{ relativebase }}assets/img/{{ page.img }}') center no-repeat; background-size: cover;"></div>
    </div>
    <div class="wrapper">
      <div class="page-content">
        <div class="header-page">
          <h1 class="page-title">{{ page.title }}</h1>
          {% include post_meta.html type="post-page-meta" %}
        </div>
        {% include sidebar.html context="post" class="side" id="sidebar" %}
        {% if page.toc %}{% include sidebar-toc.html %}{% endif %}
        {% include github-button.html %}
        {{page.content | markdownify}}
        {% include sidebar.html context="post" class="inline" id="post-end" %}
        <div class="separator"></div>
        {% include author-box.html %}
        {% include recent-post.html %}
        {% include newsletter.html %}
        {% include comments.html %}
      </div>
    </div> <!-- End Wrapper -->
  </article>
  {% include search.html %}
  {% include footer.html %}
</div>
