* {
    margin : 0%;
    padding: 0%;
}

.advance {
    visibility: hidden;
}

.intro {
    text-align: center;
}
body {
    font-size       : 1vw;
    color           : white;
    background-color: rgb(56, 56, 70);
    max-height      : fit-content;
    /* max-width       : fit-content; */
    margin          : 12%;
}

input {
    border-radius: 5px;
    padding      : 3px 3px 3px 5px;
}

legend {
    padding: 5px 5px 5px 5px;
}

#container {
    display              : grid;
    grid-template-columns: repeat(5, auto);
    grid-gap             : 10%;
    margin-left          : 45px;
}

button {
    padding      : 5px;
    margin       : 5px;
    margin-left  : 2px;
    cursor       : pointer;
    position     : relative;
    top          : 150px;
    left         : 530px;
    border-radius: 5px;
}


::placeholder {
    transition: all 2s ease-in-out;
    color     : rgb(56, 56, 70);
}

:hover::placeholder {
    transform: translateX(-200px);
}

#reset {
    cursor  : pointer;
    position: relative;
    top     : 145px;
    padding : 5px;
    right   : 450px;
}
@media (min-width:1500px)  and (max-width:1600px){
    body{
        /* border: 2px solid black; */
        padding: 3.5vw;
    }
    #reset {
        cursor  : pointer;
        position: relative;
        top     : 208px;
        padding : 5px;
        right   : -510px;
    }
    button {
        padding      : 5px;
        margin       : 5px;
        margin-left  : 2px;
        cursor       : pointer;
        position     : relative;
        top          : 150px;
        left         : 600px;
        border-radius: 5px;
    }
    #container {
        display              : grid;
        grid-template-columns: repeat(6, auto);
        grid-gap             : 4vw;
        /* border: 2px solid black; */
        margin-left: 0px;
    }
}

@media (min-width:1400px)  and (max-width:1500px){
    body{
        /* border: 2px solid black; */
        padding: 3.5vw;
    }
    #reset {
        cursor  : pointer;
        position: relative;
        top     : 209px;
        padding : 5px;
        right   : -510px;
    }
    button {
        padding      : 5px;
        margin       : 5px;
        margin-left  : 2px;
        cursor       : pointer;
        position     : relative;
        top          : 150px;
        left         : 600px;
        border-radius: 5px;
    }
    #container {
        display              : grid;
        grid-template-columns: repeat(6, auto);
        grid-gap             : 4vw;
        /* border: 2px solid black; */
        margin-left: 0px;
    }
}


@media (min-width:1350px)  and (max-width:1400px){
    #reset {
        cursor  : pointer;
        position: relative;
        top     : 132px;
        padding : 5px;
        right   : 414px;
    }
    button {
        padding      : 5px;
        margin       : 5px;
        margin-left  : 2px;
        cursor       : pointer;
        position     : relative;
        top          : 150px;
        left         : 600px;
        border-radius: 5px;
    }
    #container {
        display              : grid;
        grid-template-columns: repeat(5, auto);
        grid-gap             : 12%;
        margin-left          : 45px;
    }
}

@media (min-width:1300px)  and (max-width:1350px){
    #reset {
        cursor  : pointer;
        position: relative;
        top     : 145px;
        padding : 5px;
        right   : 414px;
    }
    button {
        padding      : 5px;
        margin       : 5px;
        margin-left  : 2px;
        cursor       : pointer;
        position     : relative;
        top          : 150px;
        left         : 530px;
        border-radius: 5px;
    }
    #container {
        display              : grid;
        grid-template-columns: repeat(5, auto);
        grid-gap             : 10%;
        margin-left          : 45px;
    }
}



@media (min-width:1000px) and (max-width:1300px) {
    body {
        font-size: 1.2vw;
    }

    ::placeholder {
        color: rgb(56, 56, 70);
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(5, auto);
        grid-gap             : 8%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 150px;
        left       : 530px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 157px;
        padding : 5px;
        right   : 300px;
    }
}

@media (min-width:900px) and (max-width:1000px) {
    body {
        font-size: 2vw;
    }

    ::placeholder {
        color: rgb(56, 56, 70);
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(5, auto);
        grid-gap             : 8%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 150px;
        left       : 530px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 157px;
        padding : 5px;
        right   : 300px;
    }
}

@media (min-width:800px) and (max-width:900px) {
    body {
        font-size: 2vw;
    }

    ::placeholder {
        color: rgb(56, 56, 70);
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(5, auto);
        grid-gap             : 5%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 150px;
        left       : 450px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 177px;
        padding : 5px;
        right   : 0px;
    }
}

@media (min-width:700px) and (max-width:800px) {
    ::placeholder {
        font-size: 13px;
        color    : rgb(56, 56, 70);

    }

    body {
        font-size: 2vw;
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(4, auto);
        grid-gap             : 5%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 150px;
        left       : 350px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 153px;
        padding : 5px;
        right   : 0px;
    }
}

@media (min-width:600px) and (max-width:700px) {
    ::placeholder {
        font-size: 13px;
        color    : rgb(56, 56, 70);

    }

    body {
        font-size: 2vw;
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(4, auto);
        grid-gap             : 4%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 110px;
        left       : 340px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 125px;
        padding : 5px;
        right   : -20px;
    }
}

@media (min-width:500px) and (max-width:600px) {
    ::placeholder {
        font-size: 13px;
        color    : rgb(56, 56, 70);
    }

    body {
        font-size: 3vw;
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(4, auto);
        grid-gap             : 4%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 110px;
        left       : 335px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 125px;
        padding : 5px;
        right   : -20px;
    }
}

@media (min-width:400px) and (max-width:500px) {
    ::placeholder {
        font-size: 13px;
        color    : rgb(56, 56, 70);

    }

    body {
        font-size: 3.1vw;
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(3, auto);
        grid-gap             : 4%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 110px;
        left       : 222px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 125px;
        padding : 5px;
        right   : -50px;
    }
}

@media (min-width:350px) and (max-width:400px) {
    ::placeholder {
        font-size: 13px;
        color    : rgb(56, 56, 70);

    }

    body {
        font-size: 4vw;
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(2, auto);
        grid-gap             : 4%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 228px;
        left       : 1px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 95px;
        padding : 5px;
        right   : -70px;
    }
    input {
        border-radius: 5px;
        padding      : 3px 3px 3px 0px;
    }
}

@media (min-width:300px) and (max-width:350px) {
    ::placeholder {
        font-size: 13px;
        color    : rgb(56, 56, 70);
    }

    body {
        font-size: 4vw;
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(2, auto);
        grid-gap             : 4%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 228px;
        left       : 1px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 98px;
        padding : 5px;
        right   : -70px;
    }
    input {
        border-radius: 5px;
        padding      : 3px 3px 3px 0px;
        * {
    margin : 0%;
    padding: 0%;
}

.advance {
    visibility: hidden;
}

body {
    font-size       : 1vw;
    color           : white;
    background-color: rgb(56, 56, 70);
    max-height      : fit-content;
    max-width       : fit-content;
    margin          : 5px;
}

input {
    border-radius: 5px;
    padding      : 3px 3px 3px 5px;
}

legend {
    padding: 5px 5px 5px 5px;
}

#container {
    display              : grid;
    grid-template-columns: repeat(5, auto);
    grid-gap             : 10%;
    margin-left          : 45px;
}

button {
    padding      : 5px;
    margin       : 5px;
    margin-left  : 2px;
    cursor       : pointer;
    position     : relative;
    top          : 150px;
    left         : 530px;
    border-radius: 5px;
}


::placeholder {
    transition: all 2s ease-in-out;
    color     : rgb(56, 56, 70);
}

:hover::placeholder {
    transform: translateX(-200px);
}

#reset {
    cursor  : pointer;
    position: relative;
    top     : 145px;
    padding : 5px;
    right   : 450px;
}
@media (min-width:1500px)  and (max-width:1600px){
    body{
        /* border: 2px solid black; */
        padding: 3.5vw;
    }
    #reset {
        cursor  : pointer;
        position: relative;
        top     : 208px;
        padding : 5px;
        right   : -510px;
    }
    button {
        padding      : 5px;
        margin       : 5px;
        margin-left  : 2px;
        cursor       : pointer;
        position     : relative;
        top          : 150px;
        left         : 600px;
        border-radius: 5px;
    }
    #container {
        display              : grid;
        grid-template-columns: repeat(6, auto);
        grid-gap             : 4vw;
        /* border: 2px solid black; */
        margin-left: 0px;
    }
}

@media (min-width:1400px)  and (max-width:1500px){
    body{
        /* border: 2px solid black; */
        padding: 3.5vw;
    }
    #reset {
        cursor  : pointer;
        position: relative;
        top     : 209px;
        padding : 5px;
        right   : -510px;
    }
    button {
        padding      : 5px;
        margin       : 5px;
        margin-left  : 2px;
        cursor       : pointer;
        position     : relative;
        top          : 150px;
        left         : 600px;
        border-radius: 5px;
    }
    #container {
        display              : grid;
        grid-template-columns: repeat(6, auto);
        grid-gap             : 4vw;
        /* border: 2px solid black; */
        margin-left: 0px;
    }
}


@media (min-width:1350px)  and (max-width:1400px){
    #reset {
        cursor  : pointer;
        position: relative;
        top     : 132px;
        padding : 5px;
        right   : 414px;
    }
    button {
        padding      : 5px;
        margin       : 5px;
        margin-left  : 2px;
        cursor       : pointer;
        position     : relative;
        top          : 150px;
        left         : 600px;
        border-radius: 5px;
    }
    #container {
        display              : grid;
        grid-template-columns: repeat(5, auto);
        grid-gap             : 12%;
        margin-left          : 45px;
    }
}

@media (min-width:1300px)  and (max-width:1350px){
    #reset {
        cursor  : pointer;
        position: relative;
        top     : 145px;
        padding : 5px;
        right   : 414px;
    }
    button {
        padding      : 5px;
        margin       : 5px;
        margin-left  : 2px;
        cursor       : pointer;
        position     : relative;
        top          : 150px;
        left         : 530px;
        border-radius: 5px;
    }
    #container {
        display              : grid;
        grid-template-columns: repeat(5, auto);
        grid-gap             : 10%;
        margin-left          : 45px;
    }
}



@media (min-width:1000px) and (max-width:1300px) {
    body {
        font-size: 1.2vw;
    }

    ::placeholder {
        color: rgb(56, 56, 70);
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(5, auto);
        grid-gap             : 8%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 150px;
        left       : 530px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 157px;
        padding : 5px;
        right   : 300px;
    }
}

@media (min-width:900px) and (max-width:1000px) {
    body {
        font-size: 2vw;
    }

    ::placeholder {
        color: rgb(56, 56, 70);
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(5, auto);
        grid-gap             : 8%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 150px;
        left       : 530px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 157px;
        padding : 5px;
        right   : 300px;
    }
}

@media (min-width:800px) and (max-width:900px) {
    body {
        font-size: 2vw;
    }

    ::placeholder {
        color: rgb(56, 56, 70);
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(5, auto);
        grid-gap             : 5%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 150px;
        left       : 450px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 177px;
        padding : 5px;
        right   : 0px;
    }
}

@media (min-width:700px) and (max-width:800px) {
    ::placeholder {
        font-size: 13px;
        color    : rgb(56, 56, 70);

    }

    body {
        font-size: 2vw;
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(4, auto);
        grid-gap             : 5%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 150px;
        left       : 350px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 153px;
        padding : 5px;
        right   : 0px;
    }
}

@media (min-width:600px) and (max-width:700px) {
    ::placeholder {
        font-size: 13px;
        color    : rgb(56, 56, 70);

    }

    body {
        font-size: 2vw;
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(4, auto);
        grid-gap             : 4%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 110px;
        left       : 340px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 125px;
        padding : 5px;
        right   : -20px;
    }
}

@media (min-width:500px) and (max-width:600px) {
    ::placeholder {
        font-size: 13px;
        color    : rgb(56, 56, 70);
    }

    body {
        font-size: 3vw;
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(4, auto);
        grid-gap             : 4%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 110px;
        left       : 335px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 125px;
        padding : 5px;
        right   : -20px;
    }
}

@media (min-width:400px) and (max-width:500px) {
    ::placeholder {
        font-size: 13px;
        color    : rgb(56, 56, 70);

    }

    body {
        font-size: 3.1vw;
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(3, auto);
        grid-gap             : 4%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 110px;
        left       : 222px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 125px;
        padding : 5px;
        right   : -50px;
    }
}

@media (min-width:350px) and (max-width:400px) {
    ::placeholder {
        font-size: 13px;
        color    : rgb(56, 56, 70);

    }

    body {
        font-size: 4vw;
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(2, auto);
        grid-gap             : 4%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 228px;
        left       : 1px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 95px;
        padding : 5px;
        right   : -70px;
    }
    input {
        border-radius: 5px;
        padding      : 3px 3px 3px 0px;
        margin-left: 30px;
    }
}

@media (min-width:300px) and (max-width:350px) {
    ::placeholder {
        font-size: 13px;
        color    : rgb(56, 56, 70);
    }

    body {
        font-size: 4vw;
    }

    #container {
        display              : grid;
        grid-template-columns: repeat(2, auto);
        grid-gap             : 4%;
        margin-left          : 0px;
    }

    button {
        padding    : 5px;
        margin     : 5px;
        margin-left: 2px;
        cursor     : pointer;
        position   : relative;
        top        : 228px;
        left       : 1px;
    }

    #reset {
        cursor  : pointer;
        position: relative;
        top     : 98px;
        padding : 5px;
        right   : -70px;
    }
    input {
        border-radius: 5px;
        padding      : 3px 3px 3px 0px;
        margin-left: 30px;
    }
}

